#chatrooms{
margin: 20px;
}
#new_room {
font-size: 17px;
}
#new_room span{
padding-right: 15px;
}
#allrooms #header{
border-bottom: 1px solid;
border-top: 1px solid;
font-size: 17px;
margin-bottom: 10px;
margin-top: 16px;
padding: 5px 0;
}
.room_div {
border-bottom: 1px solid #CCCCCC;
padding-bottom: 5px;
padding-top: 12px;
}
.room_name {
display: inline-block;
font-weight: bold;
width: 165px;
}
.room_div a{
position: absolute;
right: 40px;
}